/*
*
*    BLOCK
*
*/


html {
  box-sizing: border-box;
}


*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #fffffe;
  margin: 0;
}


h1,
h3 {
  color: #1f1a13;
}


h1 {
  font-family: 'Oswald', sans-serif;
  font-weight:700;
  line-height:45px;
  font-size: 220%;
  text-transform: uppercase;
  text-align: center;
}


h3 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 120%;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 23px;
}


p {
  font-family: 'Oswald', sans-serif;
  font-size: 95%;
  line-height: 23px;
  letter-spacing: 2px;
}


.container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: minmax(300px, 2fr) auto;
}


.container > * {
  grid-column: 2;
  min-width: 0;
}


/*
*
*    MENU
*
*/

/*   Header   */


.header {
  grid-column: 1/-1;
  grid-row: 1;
  background: white url('../static/img/restaurnat_index.jpeg') center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px repeat(auto-fit, minmax(100px, 1fr));
}


.flash-list-msg {
  grid-row: 1;
  border-radius: 5px;
  height: 40px;
  list-style: none;
  font-family: sans-serif;
  color: #1c3e24;
  margin: 0;
  padding: 0;
}


.flash-msg {
  text-align: center;
  background-color: #35d65c;
  padding: 5px 0;
}


.title {
  color: white;
  letter-spacing: 14px;
  margin-top: 60px;
  margin-bottom: 0;
  grid-row: 2;
}


.restaurant-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  grid-auto-rows: 75px;
  grid-row: 2;
  padding-bottom: 20px;
  margin-top: 50px;
}


.header-menu-links {
  text-align: right;
  padding-right: 10px;
  margin: 0;
  grid-row: -1;
  align-content: flex-end;
  justify-content:flex-end;
  display: flex;
}


.header-menu-links > li {
  display: flex;
}


.block {
  grid-row: 1/-1;
  grid-column: 1/-1;
  border: solid 1px #eaedf2;
}


.menu__links{
  text-decoration: none;
  margin: 4px 5px;
  color: white;
}


.rest-list,
.cre-plus {
  color: white;
  text-shadow: 1px 1px gray;
  font-size: 12px;
  text-transform: uppercase;
}


.plus,
.list {
  margin: 16px 15px 0 6px;
  color: #70a1ff;
}



.plus:hover,
.plus:focus,
.list:hover,
.list:focus {
  color: #3742fa;
}


/*   Items Menu   */

.menu-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 20px;
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
  grid-row: 2;
  padding-bottom: 20px;
  margin-top: 50px;
}


.menu-items {
  display: grid;
  grid-template-columns: 20px 1fr 50px 50px;
  grid-template-rows: repeat(4, 1fr);
}


.menu-edit {
  grid-column: 4;
  grid-row: 2;
}


.menu-delete {
  grid-column: 4;
  grid-row: 3;
}


.restaurant-list {
  display: grid;
  grid-template-columns: 10px 1fr 50px 5px;
  grid-template-rows: 1fr 1fr ;
  background-color: #fff;
}


.restaurant-name {
  grid-column: 2;
  grid-row: 1/-1;
  text-align: center;
  align-content: center;
  margin: auto 0;
  justify-content: center;
}


.restaurant-links {
  grid-column: 3;
  grid-row: 1/-1;
  list-style: none;
  font-family: 'Noto Serif', serif;
  text-transform: uppercase;
  font-size: 14px;
  margin: auto 5px;
  text-align: center;
  padding: 0;
}


.item-name {
  grid-column: 2/-1;
  grid-row: 1;
}


.item-name-link {
  text-decoration: none;
}


.item-description {
  grid-column: 2;
  grid-row: 2/-1;
  font-style: italic;
  font-weight: 200;
  color: #3a2f20;
  margin: 0;
}


.item-price {
  grid-column: 3;
  grid-row: 3;
  padding: 8px 3px;
}


.item-link__edit,
.item-link__delete {
  text-decoration: none;
  color: #eaedf2;
  text-align: center;
  justify-content: center;
  margin: auto 0;
}


.item-link__delete:hover,
.item-link__delete:focus,
.item-link__edit:focus,
.item-link__edit:hover {
  color: #70a1ff;
}


.restaurant-edit {
  grid-column: 3;
  grid-row: 1;
}


.restaurant-delete {
  grid-column: 3;
  grid-row: 2;
}


/*
*
*    FORMS  -  New, Edit, Delete
*
*/


.div-form {
  display: grid;
  grid-template-columns: 1fr 20px 520px 20px 1fr;
  grid-template-rows: 100px 100px 640px 50px;
  align-content:center;
  justify-content: center;
}


.form__title {
  grid-column: 3;
  grid-row: 2;
  padding: 20px;
  margin: 10px;
}


.form {
  grid-column: 3;
  grid-row: 3;
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 50px 50px 50px 200px 50px;
  margin: 10px;
  padding-top: 8px;
  justify-content: center;
}


input[type=text]:focus {
  border-bottom: 2px solid #70a1ff;
  outline: none;
}


.input-div {
  justify-content: space-between;
  align-content: center;
}


.input-title {
  grid-column: 1;
}


.new-input {
  grid-column: 2;
  margin: auto 0;
  height: 35px;
  padding-left: 5px;
  color: #16a085;
  border: none;
  background-color: #eaedf2;
  font-size: 1em;
}


.checkboxes {
  grid-column: 2;
  display: grid;
  grid-template-columns: 15px 30px 80px 1fr;
  grid-tempate-row: repeat(6, 25px);
  margin-top: 20px;
}


.check-input {
  grid-column: 2;
}


.check-option {
  grid-column: 3;
  margin: 1px;
}


.form-title {
  grid-column: 3;
  grid-row: 2;
  margin: 10px;
}


input[type=submit] {
  outline: none;
  border: none;
  background: none;
}


.form__btn {
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 95%;
  font-weight: 200;
  letter-spacing: 2px;
  color: #5352ed;
  padding: 0;
  margin: 5px 0 0;
}


.cancel__btn {
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 95%;
  font-weight: 200;
  letter-spacing: 2px;
  padding: 0;
  margin: 17px 0;
  text-align: left;
}


.cancel__link {
  text-decoration: none;
  color: #ff7f50;
}


.msg-div {
  display: grid;
  grid-template-columns: 1fr 20px 5fr 20px 1fr;
  grid-template-rows: 20px 1fr 1fr 1fr;
  height: 400px;
  text-align: center;
  align-content:center;
}

.msg-title {
  grid-column: 3;
  grid-row: 2;
}


.msg {
  grid-column: 3;
  grid-row: 3;
}
