body {
  background-color: #c4a354;
}



h1,
h3 {
  color: #1f1a13;
}


h1 {
  font-family: 'Oswald', sans-serif;
  font-weight:700;
  line-height:45px;
  font-size:46px;
  text-transform: uppercase;
  text-align: center;
}


h3 {
  font-family: 'Noto Serif', serif;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 23px;
}


p {
  font-family: 'Noto Serif', serif;
  font-size: 15px;
  line-height: 23px;
}


.container {
  display: grid;
  grid-template-columns: 1fr 20px 5fr 20px 1fr;
  grid-template-rows: 20px 1fr auto 20px;
}


/*
*
*    MENU
*
*/

/*   Header   */


.header {
  grid-column: 3;
  grid-row: 2;
  grid-template-rows: 35px 1fr 1fr 25px;
}


.flash-list-msg {
  grid-row: 2;
  border-radius: 5px;
  border: solid 1px #51f377;
  list-style: none;
  font-family: sans-serif;
  color: #1c3e24;
  margin: 0;
  padding: 0;
}


.flash-msg {
  text-align: center;
  background-color: #35d65c;
  padding: 5px 0;
}


.restaurant-name {
  grid-row: 3;
}


.create-new {
  text-align: right;
  padding-right: 20px;
  text-transform: uppercase;
  font-size: 12px;
  grid-row: 4;
  margin: 0;
}


.create-new__item {
  text-decoration: none;
}

/*   Items Menu   */

.menu-div {
  background-color: #d0c4b0;
  grid-column: 3;
  grid-row: 3;
  display: grid;
  padding-bottom: 20px;
}


.menu-items {
  display: grid;
  grid-template-columns: 20px 1fr 50px 20px;
  grid-template-rows: 20px 1fr 1fr 20px 20px;
}


.item-name {
  grid-column: 2/-2;
  grid-row: 2;
  /* padding-bottom: 2px; */
  border-bottom: solid 2px #1f1a13;
  margin-bottom: 10px;
  height: 25px;
}


.item-description {
  grid-column: 2;
  grid-row: 3;
  font-style: italic;
  color: #3a2f20;
  /* border-right: solid 1px #1f1a13; */
  margin: 0;
}


.item-price {
  grid-column: 3;
  grid-row: 3;
  padding: 8px 3px;
  border-left: solid 1px #1f1a13;
  margin: 2px;
}


.item-links {
  grid-column: 2/-2;
  grid-row: 4;
  display: flex;
  justify-content: center;
  list-style: none;
  font-family: 'Noto Serif', serif;
  text-transform: uppercase;
  font-size: 12px;
}


.item-link__edit,
.item-link__delete {
  text-decoration: none;
}

.item-link__edit {
  margin-right: 10px;
}

.item-link__delete {
  margin-left: 10px;
}

/*
*
*    FORMS  -  New, Edit, Delete
*
*/


.div-form {
  display: grid;
  grid-template-columns: 1fr 20px 5fr 20px 1fr;
  grid-template-rows: repeat(4, 1fr);
  height: 300px;
  text-align: center;
  align-content:space-around;
}


.form__title {
  grid-column: 3;
  grid-row: 2;
  padding: 20px;
  margin: 10px;
}


.form {
  grid-column: 3;
  grid-row: 3;
  display: flex;
  margin: 10px;
  /* background-color: #d0c4b0; */
  height: 50px;
  padding-top: 8px;
  justify-content: center;
}


.input {
  margin: 5px 10px;
  height: 25px;
  border-radius: 5px;
  border: solid 1px #3498db;
  box-shadow: inset 0 0 2px #3498db;
  padding-left: 5px;
  color: #16a085;
  font-size: 14px;
}


.form-title {
  grid-column: 3;
  grid-row: 2;
  padding: 20px;
  margin: 10px;
}


.form__btn {
  background-color: #3498db;
  border-radius: 5px;
  height: 28px;
  width: 68px;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  font-weight: 200;
  letter-spacing: 2px;
  border: solid 1px #2980b9;
  color: white;
  margin-top: 6px;
}


.cancel__btn {
  background-color: #f39c12;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  font-weight: 200;
  letter-spacing: 2px;
  border: solid 1px #ce8209;
  color: white;
  padding: 2px 8px;
  margin: 5px 0 15px 10px;
}


.cancel__link {
  text-decoration: none;
  color: white;
}
