<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Menu Item</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,400i|Oswald:400,700" rel="stylesheet">
  </head>

  <body>
    <div class="div-form">
      <h1 class="form-title">Edit Menu Item</h1>

      <form class="form" action="{{ url_for('editMenuItem', restaurant_id = restaurant_id, menu_id =item.id) }}" method="post">

        <input class="input" type="text" size="30" name="name" placeholder="{{ item.name }}">

        <input class="form__btn" type="submit" value="Edit">
        <span class="cancel__btn">
          <a class="cancel__link" href="{{ url_for('restaurantMenu', restaurant_id=item.restaurant_id) }}">Cancel</a>
        </span>
      </form>
    </div>
  </body>
</html>
