<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Restaurant</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,400i|Oswald:400,700" rel="stylesheet">
  </head>

  <body>
    <div class="div-form">
      <h1 class="form-title">Edit Restaurant</h1>

      <form class="form" action="{{url_for('editRestaurant', restaurant_id = restaurant.id)}}" method="post">

        <input class="new-input" type="text" size="25" name="name" placeholder="{{restaurant.name}}">

        <input class="form__btn" type="submit" value="Edit">
        <span class="cancel__btn">
          <a class="cancel__link" href="{{url_for('showRestaurants')}}">Cancel</a>
        </span>
      </form>
    </div>
  </body>
</html>
