<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Restaurants Menu</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
<body>

  <h1>{{restaurant.name}}</h1>

{% with messages = get_flashed_messages() %}
  {% if messages %}

    <ul>
    {% for message in messages %}
        <li><strong> {{ message }} </strong></li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

  <h3>
  <a href="{{ url_for('newMenuItem', restaurant_id=restaurant.id) }}">Create New Item</a>
  </h3>
  <div class="menu-div">
    {% for i in items %}

    <div class="menu-items">

      <p class="item-name">{{i.name}}</p>

      <p class="item-description">{{i.description}}</p>

      <p class="item-price">{{i.price}}</p>
      <ul class="item-links">
        <li>
          <a class="item-link-edit" href="{{ url_for('editMenuItem', restaurant_id=restaurant.id, menu_id=i.id) }}">Edit</a>
        </li>
        </br>
        <li>
          <a class="item-link-delete" href="{{ url_for('deleteMenuItem', restaurant_id=restaurant.id, menu_id=i.id) }}">Delete</a>
        </li>

    </div>


    {% endfor %}
  </div>
</body>

</html>
