<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Restaurants List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,400i|Oswald:400,700" rel="stylesheet">
    <script src="https://use.fontawesome.com/0b748db671.js"></script>
  </head>
  <body>
    <div class="container">

      <div class="header">

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class="flash-list-msg">
            {% for message in messages %}
                <li class="flash-msg"> {{ message }} </li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}

        <h1 class="title">Restaurant List</h1>
        <ul class="header-menu-links">
          <li>
            <p class="cre-plus">Create New Restaurant</p>
            <a class="plus" href="{{ url_for('newRestaurant') }}">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </a>
          </li>
        </ul>

      </div>

      <div class="restaurant-div">
      {% for i in restaurants %}

        <div class="restaurant-list">

          <section class="block"></section>

          <h3 class="restaurant-name">
            <a class="item-name-link" href="{{ url_for('showMenu', restaurant_id= i.id) }}">{{i.name}}</a>
          </h3>

          <a class="item-link__edit restaurant-edit" href="{{url_for('editRestaurant', restaurant_id = i.id)}}">
            <i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
          </a>

          <a class="item-link__delete restaurant-delete" href="{{url_for('deleteRestaurant', restaurant_id = i.id)}}">
            <i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>
          </a>

        </div>

      {% endfor %}
      </div>

    </div>
  </body>
</html>
