<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Restaurants List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,400i|Oswald:400,700" rel="stylesheet">
  </head>
  <body>
    <div class="container">

      <div class="header">

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class="flash-list-msg">
            {% for message in messages %}
                <li class="flash-msg"> {{ message }} </li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}

        <h1 class="restaurant-name">Restaurant List</h1>

        <p class="create-new">
          <a class="create-new__item"href="#">Create New Item</a>
        </p>

      </div>

      <div class="menu-div">
      {% for i in restaurants %}

        <div class="menu-items">

          <h3 class="item-name">{{i.name}}</h3>

          <ul class="item-links">
            <li>
              <a class="item-link__edit" href="#">Edit</a>
            </li>
            </br>
            <li>
              <a class="item-link__delete" href="# }}">Delete</a>
            </li>
          </ul>

        </div>

      {% endfor %}
      </div>

    </div>
  </body>
</html>
